.container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-eh {
    width: auto;
    margin-top: 100px;
    -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  
  
  
.occupation-name {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #284158;
    margin: 10px;
    box-sizing: border-box;
    width: 80%;
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

/*-----------Media Query--------*/
@media all and (max-width: 1200px) {
    .logo-eh {
        margin-top: 20px;
    }
}

@media all and (max-width: 1024px) {
    .logo-eh {
        margin-top: 5rem;
    }
}

@media all and (max-width: 600px) {
    .logo-eh {
        max-width: 300px;
        margin-top: 50px;
    }
    .occupation-name{
        font-size: 26px;
        
    }
}